<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/raphael-min.js"></script>
    <title>hackday 20130213</title>
</head>
<body>
{{ welcome }} <br />
<section class="span6">
    <div id="map" style="border: solid 1px #000">
        <script type="text/javascript">
            var border_color = "#444";
            var unsel_color = "#e0e0e0";
            var w = 900;
            var h = 500;

var svg = d3.select("#map").append("svg")
        .attr("width", w)
        .attr("height", h);

//create geo.path object, set the projection to merator bring it to the svg-viewport
var projection = d3.geo.albers()
        .rotate([0, 0])
        .center([8.43, 46.8])
        .scale(13600)
        .translate([100, 0]);

var path = d3.geo.path()
        .projection(projection);
{#var path = d3.geo.path()#}
{#        .projection(d3.geo.mercator()#}
{#                .scale(28500)#}
{#                .translate([-600, 4100]));#}

var g = svg.append("g")
        .attr("transform", "translate(" + w / 2 + "," + h / 2 + ")")
        .append("g")
        .attr("id", "cantons");
//draw svg lines of the boundres
            d3.json(
                    "{{ MEDIA_URL }}json/swiss-cantons-simplified.json",
                    function (json) {
                    g.selectAll("path")
                        .data(json.features)
                        .enter()
                        .append("path")
                        .attr("fill", function(d) {
                                if (d.properties.no > 15) {
                                    return '#e2697a';
                                } else {
                                    return 'green';
                                }

                        } )
                        .attr("id", 'ddd' )
                        .attr("stroke", '#ffffff' )
                        .attr("d", path)
                        .on("click", function (d) {
                                $(this).animate({
                                    opacity: 0.8,
                                    fontSize: "3em",
                                    borderWidth: "10px",
                                    stroke: 'blue',
                                    'stroke-width': 2
                                }, 500 );
                        })

                        g.selectAll("text")
                                .data(json.features)
                                .enter().append("text")
                                .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
                                .attr("dy", ".01em")
                                .text(function(d) { return d.properties.name; });

                    }

            );

        {#            RAPHAEL.JS                        #}

            var border_color = "#444";
            var unsel_color = "#e0e0e0";
            var scaleXY = 1;

            var R = new Raphael(document.getElementById('map'), 640*scaleXY, 480*scaleXY);
                swiss = {}
            $.getJSON('{{ MEDIA_URL }}json/more.json', function(data) {
                $.each(data, function(i) {
                   var canton = data[i].id;
                    var text = [];
                    swiss[canton] = R.path(data[i].path).transform('s1').attr({stroke:border_color,'stroke-width':1,'fill':unsel_color});

                    $(swiss[canton].node).click( function(d) {
                                                    alert('data is not here yet');

                                                });
                    $(swiss[canton].node).mouseover(function(d){
                        text[canton] =  R.text(data[i].center.x*scaleXY, data[i].center.y*scaleXY,  canton);
                        swiss[canton].animate(
                                {"fill":'red',"stroke":'blue',"stroke-width":1}
                                ,333)}
                        );
                    $(swiss[canton].node).mouseout(function(d){

                                swiss[canton].animate(
                                            {"fill":unsel_color,"stroke":border_color,"stroke-width":1}
                                        ,333);
                                text[canton].remove();
                            }
                    );
                })
                var tfm = 'S'+ scaleXY + ','+ scaleXY + ',0,0';
                R.forEach(function(obj){
                    obj.transform(tfm);
                });
            });


        </script>
    </div>
{#    {{ data }}#}
</section>
</body>
</html>